
.wrapper{
	height: 100%;
	display:flex;
	align-items:center;
	
	
}

.navigation{
	max-width: 180px;
	width: 100%;
	height: 100%;
	border-right: 1px solid #6EEB83;
	display:flex;
	flex-direction: column;
	justify-content:center ;
	align-items:center;
	
}

.navigation__container{
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-between;
}

.img{
	width:80%;
	border-radius: 50%;
}

.logo{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	transition: all 0.3s;
	color: white;
	text-transform: uppercase;
	gap: 10px;
	color:#6EEB83;
}


.search{
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	width:60%;
	transition: all 0.3s;
}
.search:hover{
	transform: translateY(-10px);
	filter:brightness(10)
}

.search__input{
	visibility: hidden;
	color: white;
	width: 0%;
	padding: 5px;
	background: #272727;
	border: 1px solid #6EEB83;
	font-family: 'Lexend Deca';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	transition: all 0.3s;
}

.search__active{
	visibility: visible;
	width: 90%;
}

.create{
	width:60%;
	transition: all 0.3s;
}
.create:hover{
	transform: translateY(-10px);
	filter:brightness(10);

}

.main{
	display: flex;
	justify-content:center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding:70px 110px;
	overflow:auto;
	
}

.articles{

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
	gap: 40px;
	
}


.post{
	display:flex;
	gap: 18px;
	max-height: 300px;
	cursor: pointer;
	transition:all 0.3s;
	padding:15px;
	
}

.post:hover{
	transform: translateY(-5px);
	box-shadow:10px 5px 30px rgb(0, 0, 0) ;
}

.post__left{
	display:flex;
	flex-direction: column;
	gap: 15px;
	max-width: 140px;
}

.post__data{
	font-family: 'Lexend Deca';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 40px;
	text-align: right;
	text-transform: uppercase;
	color: #FFFFFF;
	overflow-wrap:  break-word;
}

.post__user{
	height: 100%;
	font-family: 'Lexend Deca';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 20px;

	color: #6EEB83;
	writing-mode:vertical-rl;

}

.post__container{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.post__title{
	font-family: 'DM Serif Display';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 44px;

	color: #6EEB83;

}

.post__description{
	font-family: 'Lexend Deca';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	color: #FFFFFF;


	-webkit-line-clamp: 1; /* Число отображаемых строк */
	display: -webkit-box; /* Включаем флексбоксы */
	-webkit-box-orient: vertical; /* Вертикальная ориентация */
	overflow: hidden; /* Обрезаем всё за пределами блока */


}

.post__description a{
	color: #6EEB83;
}